{{ form_start(form) }}
<div class="col-md-10 mx-auto">
    <div class="row">
        <div class="col-md-6">{{ form_row(form.firstName) }}</div>
        <div class="col-md-6">{{ form_row(form.lastName) }}</div>
    </div>

    <div class="row">
        <div class="col-md-6">{{ form_row(form.username) }}</div>
        <div class="col-md-6">{{ form_row(form.email) }}</div>
    </div>

    <div class="row">
        <div class="col-md-6">{{ form_row(form.roles) }}</div>
        <div class="col-md-6">{{ form_row(form.tel) }}</div>
    </div>

    <button class="btn">{{ button_label|default('Ajouter') }}</button>
</div>
{{ form_end(form) }}