{% extends 'base.html.twig' %}

{% block title %}Gestion de soin{% endblock %}

{% block body %}
    <div class="container mt-4 bg-white">
        <div class="col-10 mx-auto my-3">
            <h3 class="text-info text-center">Liste de toutes les prestations</h3>
            <div class="text-right py-3">
                <a href="{{ path('care.new') }}" class="btn btn-success"><i class="fas fa-edit"> Nouvelle Prestation </i></a>                
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Soin</th>
                        <th scope="col">Patient</th>
                        <th scope="col">Medecin</th>
                        <th scope="col" colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for care in cares %}
                    <tr>
                        <td>{{ care.typeCare.label }}</td>
                        <td>{{ care.hospitalization.patient.nom }}</td>
                        <td>{{ care.medecin.name }}</td>
                        <td>
                            <a href="{{ path('care.edit', {id: care.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                            <a href="{{ path('care.show', {id: care.id}) }}" class="btn btn-info"><i class="fas fa-eye"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}